{   
  "presets": [
    ["env", {
      "targets": {
        "node": "current",
        "edge": "18",
        "firefox": "66",
        "chrome": "71",
        "safari": "12"
      }
    }],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-transform-regenerator",
    "@babel/plugin-proposal-object-rest-spread",
    "syntax-async-functions"
  ]
}